{% extends "components-framework.html" %}

{% block components %}
    {% for component in components %}
        <div class="sg-component-wrapper">
            <input type="checkbox" checked class="sg-component-toggler" id="toggle-{{ component.name }}" />
            <label class="sg-component-trigger" for="toggle-{{ component.name }}">
                <h2 class="sg-component-title">{{ component.name }}</h2>
            </label>
            <div class="sg-component-content">
                {% if component.description %}
                    <p class="sg-component-description">{{ component.description }}</p>
                {% endif %}
                {% if component.variations.length == 0 %}
                    {% include "component.html" with { component: component } only %}
                {% endif %}
                {% if component.variations %}
                    <div class="sg-component-variations">
                        {% for variation in component.variations %}
                            {% include "component.html" with { component: component, variation: variation, index: loop.index } only %}                        
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}