<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Style Guide</title>
    <link rel="stylesheet" href="guide.min.css" />
    <link rel="stylesheet" href="../atomicdesignbuildsystem.min.css" />
</head>
<body class="sg-body">
    {% block navigation %}
        {% include "navigation.html" %}
    {% endblock %}
    <div class="sg-components-wrapper">
        <header class="sg-components-header">
            {% block header %}
                <h1 class="sg-components-title">{{ title }}</h1>
            {% endblock %}
        </header>
        
        {% block content %}
        {% endblock %}
    </div>
    <script src="guide.min.js"></script>
    <script src="../atomicdesignbuildsystem.min.js"></script>
</body>
</html>