<nav class="sg-navigation">
    <a href="index.html" class="sg-navigation-link {% if id === 'home' %}sg-navigation-link-current{% endif %}">Home</a>
    <a href="atoms.html" class="sg-navigation-link {% if id === 'atoms' %}sg-navigation-link-current{% endif %}">Atoms</a>
    <a href="molecules.html" class="sg-navigation-link {% if id === 'molecules' %}sg-navigation-link-current{% endif %}">Molecules</a>
    <a href="organisms.html" class="sg-navigation-link {% if id === 'organisms' %}sg-navigation-link-current{% endif %}">Organisms</a>
    <a href="pages.html" class="sg-navigation-link {% if id === 'pages' %}sg-navigation-link-current{% endif %}">Pages</a>
</nav>